<div style="overflow: hidden;">
    <div class="Container" style="color:whitesmoke; background-color: #0bc1f9; padding: 10px;">
      <div class="row">
        <div class="col-md-10">
          <h1 style="color: black; text-align: center; margin-left: 30px;">Packages</h1>
        </div>
        <div class=" col-md-2">
          <button type="button" [routerLink]="['']" style="padding: 5px; width:80px; margin: 10px;"
            class="btn btn-primary" (click)="LogOut()">Logout</button>
          <button type="button" [routerLink]="['/dashboard']" style="padding: 5px; width:80px; margin: 10px;"
            class="btn btn-primary">Back</button>
  
        </div>
      </div>
    </div>
  
  
  
  
  
    <div class="rowcontent" style="padding-top: 2%;">
      <div class="container">
        <div class="row content">
          <div class="boxContainer">
         
  
  
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>
                      <h4>Id</h4>
                    </th>
                    <th>
                      <h4>Package Name</h4>
                    </th>
                    <th>
                      <h4>Price</h4>
                    </th>
                    <th>
                      <h4>Status</h4>
                    </th>
                    <th>
                        <h4>Action</h4>
                      </th>
                   
    
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let pac of packages">
                    <td>
                      {{pac.id}}
                    </td>
                    <td>
                      {{pac.name}}
                    </td>
                    <td>
                      {{pac.price}}
                    </td>
                    <td>
                      {{pac.status}}
                    </td>
                    <td>
                      <a [routerLink]="['/add-order', pac.id]">
                        <i class="fa fa-plus-square"></i>
                      </a>
                    </td>
                    
    
                  </tr>
                </tbody>
    
              </table>
          </div>
        </div>
  
      </div>
  
    </div>
   
