.banner {
     background-image: url(https://th.bing.com/th/id/OIP.bFrhcrJIhrHExYz9xbzHWAHaEW?w=262&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7); 
    height: 800px;
    background-position: center top;
    background-size: cover;
}

.content {
    top: 30%;
    left: 20%;
    position: absolute;
    font-size: 250%;
}

.content h1 {
    
    color: brown;
    font-size: 50px;
    font-weight: bold;
}